.text-field {
    -fx-background-color: transparent;
}

.text-field: hover{
    -fx-background-color: grey;
}

.label: hover{
-fx-background-color: grey;
}

#mybox: hover {
-fx-background-color: grey;
}